In [2]:
import pandas as pd

In [7]:
df = pd.read_sas(r'C:\Users\pestyl\Documents/class.sas7bdat')

In [8]:
df

          Name   Sex   Age  Height  Weight
0    b'Alfred'  b'M'  14.0    69.0   112.5
1     b'Alice'  b'F'  13.0    56.5    84.0
2   b'Barbara'  b'F'  13.0    65.3    98.0
3     b'Carol'  b'F'  14.0    62.8   102.5
4     b'Henry'  b'M'  14.0    63.5   102.5
5     b'James'  b'M'  12.0    57.3    83.0
6      b'Jane'  b'F'  12.0    59.8    84.5
7     b'Janet'  b'F'  15.0    62.5   112.5
8   b'Jeffrey'  b'M'  13.0    62.5    84.0
9      b'John'  b'M'  12.0    59.0    99.5
10    b'Joyce'  b'F'  11.0    51.3    50.5
11     b'Judy'  b'F'  14.0    64.3    90.0
12   b'Louise'  b'F'  12.0    56.3    77.0
13     b'Mary'  b'F'  15.0    66.5   112.0
14   b'Philip'  b'M'  16.0    72.0   150.0
15   b'Robert'  b'M'  12.0    64.8   128.0
16   b'Ronald'  b'M'  15.0    67.0   133.0
17   b'Thomas'  b'M'  11.0    57.5    85.0
18  b'William'  b'M'  15.0    66.5   112.0

In [9]:
df = pd.read_sas(r'C:\Users\pestyl\Documents/class.sas7bdat', encoding = 'utf-8')
df

       Name Sex   Age  Height  Weight
0    Alfred   M  14.0    69.0   112.5
1     Alice   F  13.0    56.5    84.0
2   Barbara   F  13.0    65.3    98.0
3     Carol   F  14.0    62.8   102.5
4     Henry   M  14.0    63.5   102.5
5     James   M  12.0    57.3    83.0
6      Jane   F  12.0    59.8    84.5
7     Janet   F  15.0    62.5   112.5
8   Jeffrey   M  13.0    62.5    84.0
9      John   M  12.0    59.0    99.5
10    Joyce   F  11.0    51.3    50.5
11     Judy   F  14.0    64.3    90.0
12   Louise   F  12.0    56.3    77.0
13     Mary   F  15.0    66.5   112.0
14   Philip   M  16.0    72.0   150.0
15   Robert   M  12.0    64.8   128.0
16   Ronald   M  15.0    67.0   133.0
17   Thomas   M  11.0    57.5    85.0
18  William   M  15.0    66.5   112.0