In [11]:
import pandas as pd

In [12]:
df = pd.read_csv('HPI Data.csv')

In [13]:
df.head()

,State,County,FIPS code,Year,Annual Change (%),HPI,HPI with 1990 base,HPI with 2000 base
0,AL,Autauga,1001,1986,.,100,95.37,70.91
1,AL,Autauga,1001,1987,-2.31,97.69,93.16,69.27
2,AL,Autauga,1001,1988,3.36,100.97,96.29,71.6
3,AL,Autauga,1001,1989,4.26,105.27,100.4,74.65
4,AL,Autauga,1001,1990,-0.4,104.86,100,74.35

In [14]:
df = df[(df['State']=='NC') & (df['Year']>=1990)]

In [15]:
df

,State,County,FIPS code,Year,Annual Change (%),HPI,HPI with 1990 base,HPI with 2000 base
51906,NC,Alamance,37001,1990,2.46,246.62,100,71.14
51907,NC,Alamance,37001,1991,2.46,252.7,102.46,72.89
51908,NC,Alamance,37001,1992,1.62,256.8,104.13,74.08
51909,NC,Alamance,37001,1993,1.5,260.65,105.69,75.19
51910,NC,Alamance,37001,1994,3.67,270.21,109.56,77.95
...,...,...,...,...,...,...,...,...
55065,NC,Yancey,37199,2014,2.45,162.88,.,134.47
55066,NC,Yancey,37199,2015,-0.39,162.24,.,133.94
55067,NC,Yancey,37199,2016,1.68,164.97,.,136.19
55068,NC,Yancey,37199,2017,9.71,180.99,.,149.42
55069,NC,Yancey,37199,2018,0.98,182.76,.,150.88

In [18]:
df.drop('FIPS code',axis=1, inplace=True)

In [19]:
df

,State,County,Year,Annual Change (%),HPI,HPI with 1990 base,HPI with 2000 base
51906,NC,Alamance,1990,2.46,246.62,100,71.14
51907,NC,Alamance,1991,2.46,252.7,102.46,72.89
51908,NC,Alamance,1992,1.62,256.8,104.13,74.08
51909,NC,Alamance,1993,1.5,260.65,105.69,75.19
51910,NC,Alamance,1994,3.67,270.21,109.56,77.95
...,...,...,...,...,...,...,...
55065,NC,Yancey,2014,2.45,162.88,.,134.47
55066,NC,Yancey,2015,-0.39,162.24,.,133.94
55067,NC,Yancey,2016,1.68,164.97,.,136.19
55068,NC,Yancey,2017,9.71,180.99,.,149.42
55069,NC,Yancey,2018,0.98,182.76,.,150.88

In [25]:
df.to_csv('HPI_NC.csv', index=False)

In [26]:
df.Year.value_counts()

2017    99
2015    99
2002    99
2004    99
2006    99
2008    99
2010    99
2012    99
2014    99
2016    99
2018    99
2009    99
2003    99
2005    99
2007    99
2011    99
2013    99
2001    98
2000    97
1999    96
1998    94
1997    87
1996    85
1995    83
1994    79
1993    78
1992    73
1991    60
1990    58
Name: Year, dtype: int64

In [27]:
df[df['County']=='Wake']

,State,County,Year,Annual Change (%),HPI,HPI with 1990 base,HPI with 2000 base
54795,NC,Wake,1990,1.48,254.21,100,69.16
54796,NC,Wake,1991,1.11,257.03,101.11,69.93
54797,NC,Wake,1992,1.8,261.65,102.92,71.18
54798,NC,Wake,1993,2.48,268.14,105.48,72.95
54799,NC,Wake,1994,6.96,286.81,112.82,78.03
54800,NC,Wake,1995,7.01,306.93,120.74,83.5
54801,NC,Wake,1996,3.32,317.1,124.74,86.27
54802,NC,Wake,1997,3.97,329.68,129.69,89.69
54803,NC,Wake,1998,3.13,339.99,133.74,92.5
54804,NC,Wake,1999,3.59,352.19,138.54,95.82
54805,NC,Wake,2000,4.36,367.56,144.59,100
54806,NC,Wake,2001,3.45,380.26,149.58,103.45
54807,NC,Wake,2002,1.95,387.68,152.5,105.47
54808,NC,Wake,2003,0.93,391.27,153.91,106.45
54809,NC,Wake,2004,2.12,399.58,157.19,108.71
54810,NC,Wake,2005,5.18,420.29,165.33,114.35
54811,NC,Wake,2006,6.7,448.46,176.41,122.01
54812,NC,Wake,2007,6.11,475.89,187.2,129.47
54813,NC,Wake,2008,2.43,487.46,191.75,132.62
54814,NC,Wake,2009,-2.38,475.86,187.19,129.46
54815,NC,Wake,2010,-3.94,457.1,179.81,124.36
54816,NC,Wake,2011,-2.87,443.97,174.64,120.79
54817,NC,Wake,2012,-1.6,436.85,171.85,118.85
54818,NC,Wake,2013,2.16,446.3,175.56,121.42
54819,NC,Wake,2014,5.44,470.59,185.12,128.03
54820,NC,Wake,2015,4.26,490.62,192.99,133.48
54821,NC,Wake,2016,6.42,522.1,205.38,142.04
54822,NC,Wake,2017,7.78,562.7,221.35,153.09
54823,NC,Wake,2018,5.85,595.62,234.3,162.05